@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&amp;display=swap'); /* Importing Red Hat Font. You can import whichever font you want! */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&amp;display=swap'); /* Importing Roboto Font. You can import whichever font you want! */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Red Hat Display', sans-serif;
    cursor: url('Assets/cursors/Normal.cur'), default;
}

/* PRELOADER */
div.container {
  display: flex;  
  justify-content: center;  
  align-items: center; 
  position: fixed;
  z-index: 11111111111111;
}
.pre{
  height: 120vh;
}

/* SECTION */
section{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  cursor: url('Assets/cursors/Normal.cur'), default;
}
a, i{
  cursor: url('Assets/cursors/Link.cur'), pointer !important;
}
#home{
  background-color: rgb(20, 20, 20);
}
#skills{
  background-color: rgb(25, 25, 25);
}
#about{
  background-color: rgb(25, 25, 25);
}
#projects{
  background-color: rgb(25, 25, 25);
}
#contact{
  background-color: rgb(20, 20, 20);
}
#footer{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 100%;
  background-color: rgb(25, 25, 25);
}
::selection{
  color: #000;
  background-color: #fff;
}

/* Separator */
.separator{
  bottom: -17px;
  width: 100%;
  height: 18%;
  position: absolute;
}
.end-separator{
  top: 0;
  width: 100%;
  height: 18%;
  position: absolute;
}

/* home background objects */
#rect-1{
  position: absolute;
  left: 10px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-2{
  position: absolute;
  left: 90px;
  top: 90px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-3{
  position: absolute;
  left: 153px;
  top: 153px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-4{
  position: absolute;
  left: 900px;
  top: 553px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-5{
  position: absolute;
  right: 10px;
  top: 100px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-6{
  position: absolute;
  right: 230px;
  top: 200px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-7{
  position: absolute;
  right: 400px;
  top: 300px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-8{
  position: absolute;
  right: 900px;
  top: 600px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-9{
  position: absolute;
  right: 500px;
  top: 530px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-10{
  position: absolute;
  right: 710px;
  top: 430px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-11{
  position: absolute;
  right: 810px;
  top: 130px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}
#rect-12{
  position: absolute;
  right: 110px;
  top: 90px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.28);
  box-sizing: border-box;
}

/* Form */
form { 
  max-width:420px; margin:50px auto;
}
.form-container{
  border-radius: 5px;
  position: absolute;
  background-color: rgb(27, 27, 27);
  height: 70%;
  width: 60%;
  top: 150px;
}
.feedback-input {
  color:white;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #3d3d3d;
  background-color: rgba(0, 0, 0, 0.068);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  cursor: text !important;
}

.feedback-input:focus { 
  border-bottom:1px solid #646464;
  background-color: rgba(0, 0, 0, 0.151);
}

textarea {
  height: 180px;
  line-height: 150%;
  resize: none;
}

[type="submit"] {
  font-weight: 300;
  width: 60%;
  border: 1px solid #3d3d3d;
  border-radius:2px;
  color: #fff;
  cursor: url('Assets/Cursors/Link-2.cur'), pointer;
  background-color: rgba(0, 0, 0, 0.171);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 90px;
  transition: all 0.3s;
  margin-top: -4px;
}
[type="submit"]:hover { 
  border:1px solid #4ebe61;
  width: 68%;
  margin-left: 73px;
  background-color: rgba(0, 0, 0, 0.459);
}
.contact_me{
    color: #fff;
    font-weight: 200;
    padding: 40px;
    text-align: center;
    font-size: 60px;
    cursor: url('Assets/Cursors/Normal-2.cur'), default;
    transform: translateY(10px);
    opacity: 0;
}
form:focus-within .contact_me{
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: translateY(-10px);
    opacity: 1;
}

/* TO TOP BUTTON */
.to-top {
  background: rgba(30, 30, 30);
  position: fixed;
  bottom: 16px;
  right:32px;
  width:40px;
  height:40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:20px;
  color:#fff;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all 0.4s;
  transform: scale(0.9);
}
.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}
.to-top:hover{
  filter: brightness(2);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* NAV BAR */
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 6%;
	height: 120px;
	background-color: transparent;
  transition: 0.2s all;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
  font-weight: 400;
	font-size: 2em;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .links li {
	list-style: none;
}
.underline-edge{
  position: relative;
  color: white;
  text-decoration: none;
}
.underline-edge::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s;
}
.underline-edge:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
nav.sticky .links a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s;
}
nav.sticky .links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
nav .links a {
	display: block;
	padding: 20px;
  letter-spacing: 2px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
  transition: 0.2s all;
  outline: none;
}
nav .links a:hover{
  color: rgb(100, 100, 100);
}
nav.sticky .links a:hover{
  color: rgb(109, 109, 109);
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
  cursor: url('Assets/cursors/Link.cur'), pointer;
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #000;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
nav.sticky{
  height: 60px;
  background-color: #fff;
  transition: 0.2s all;
}
nav.sticky .links a{
  color: #000;
}
nav.sticky .logo{
  color: #000;
}

/* PLAY AND PAUSE + TOOLTIP*/
.right-col {
  position: fixed;
  bottom: 0;
  z-index: 111;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}
.right-col img{
  transition: 0.2s all;
  cursor: url('Assets/cursors/Link.cur'), pointer !important;
}
.right-col img:hover{
  filter: brightness(1.5);
}
.song-tooltip{
  position: fixed;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: rgba(41, 41, 41, 0.555);
  z-index: 11111;
  bottom: 83px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.2s all;
  transform: translateY(15px);
  pointer-events: none;
}
.right-col:hover .song-tooltip{
  opacity: 1;
  transform: translateY(-5px);
}
#tooltip-text{
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 500;
}

/* Custom Cursor */
.cursor{
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(126, 126, 126, 0.493);
  transition: 0.06s;
  z-index: 1111111;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}
nav:hover ~ .cursor{
  background-color: rgb(175, 175, 175);
  transform: translate(-50%, -50%) scale(2);
  mix-blend-mode: difference;
}
div.right-col:hover ~ .cursor{
  background-color: rgba(175, 175, 175, 0.514);
  transform: translate(-50%, -50%) scale(1.5);
}
a.to-top:hover ~ .cursor{
  background-color: rgba(175, 175, 175, 0.322);
  transform: translate(-50%, -50%) scale(1.4);
}


/* Typewriter text */
.typewrite_text{
  position: absolute;
  bottom: 180px;
  color: #fff;
  font-weight: 100;
  font-size: 30px;
  pointer-events: none;
}
.typewrite{
  color: #fff;
  text-decoration: none;
}
a#blink {
  animation: infinite cursor_blink 1s;
  color: rgb(196, 196, 196);
}
@keyframes cursor_blink {
  0%{
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

/* Cards */
.wrapper{
  width: 100%;
}
.wrapper .carousel{
  max-width: 1200px;
  margin: auto;
  padding-bottom: 0 30px;
}
.carousel .card{
  line-height: 250px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: rgb(29, 29, 29);
  transition: all 0.2s ease-out;
  cursor: url('Assets/cursors/Move.cur'), grab;
}
.carousel .card:active{
  cursor: grabbing;
}
.carousel .card-1:hover{
  background: #000;
}
.carousel .card-2:hover{
  background: #e44c23;
}
.carousel .card-3:hover{
  background: #000000;
}
.carousel .card-4:hover{
  background: #fff700;
}
.carousel .card-5:hover{
  background: #0066ff;
}
.carousel .card-6:hover{
  background: linear-gradient(to right, #ffdf00, #000000);
}
.owl-dot{
  height: 15px;
  width: 25px;
  border: 2px solid #444444 !important;
  border-radius: 25px;
  outline: none;
  margin: 0 5px;
  transition: all 0.3s ease;
  cursor: url('Assets/cursors/Link.cur'), pointer !important;
}
.owl-dot:hover,
.owl-dot.active{
  background: #444444 !important;
}
.owl-dots{
  text-align: center;
  margin-top: 40px;
}

/* Image Cards */
.wrapper-img{
  width: 100%;
}
.wrapper-img .img-carousel{
  max-width: 1200px;
  margin: auto;
  padding-bottom: 0 30px;
}
.img-carousel .image{
  line-height: 250px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0;
  transition: all 0.2s ease-out;
  cursor: url('Assets/cursors/Move.cur'), grab;
  transition: transform .2s, filter .3s ease-in-out;
  filter: grayscale(100%);
}
.img-carousel .image:active{
  cursor: grabbing;
}
.image:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}

/* Text in Home section */
.letter-container{
  display: flex;
  z-index: 1;
}
span.a, span.w, span.i, span.s, span.h{
  font-size: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(10, 10, 10);
  cursor: url('Assets/cursors/Normal.cur'), default !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

span.a:hover, span.w:hover, span.i:hover, span.s:hover, span.h:hover{
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ffffff, -2px 0 0 #626262;
  }
  to {
    text-shadow: 2px 0.5px 2px #626262, -1px -0.5px 2px #ffffff;
  }
}


/* The About Book */
.the-about-book{
  position: absolute;
  height: 30em;
  right: 0;
  padding: 0 10px;
}
.quote{
  font-family: 'Roboto', sans-serif !important;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  padding: 100px;
  color: #e9e9e9;
  font-weight: 400;
}
.about-text{
  padding: 0 100px;
  padding-top: 229px;
  line-height: 30px;
  position: absolute;
  color: #fff;
  font-family: 'Roboto', sans-serif !important;
  left: 0;
}

/* Footer */
.sq-ava{
  height: 100px;
  border-radius: 100%;
}
.footer-container{
  display: contents;
}
.footer-text{
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  margin-left: 20px;
}
.footer-link{
  color: rgb(168, 255, 255);
  text-decoration: none;
}
.footer-link:hover{
  color: rgb(117, 175, 175);
  text-decoration: underline;
}


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .form-container{
    border-radius: 5px;
    position: absolute;
    background-color: rgb(27, 27, 27);
    height: 50%;
    width: 60%;
    top: 220px;
  }
  .sq-ava{
    height: 60px;
    border-radius: 100%;
  }
  .footer-text{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    margin-left: 9px;
  }
  .footer-container{
    position: absolute;
    display: contents;
  }
  .separator{
    bottom: -25px;
    width: 100%;
    height: 18%;
    position: absolute;
  }
  .image:active{
    filter: grayscale(0);
    transform: scale(1.1);
  }
  [type="submit"] {
    font-weight: 300;
    width: 60%;
    border: 1px solid #3d3d3d;
    border-radius:2px;
    color: #fff;
    cursor: url('Assets/Cursors/Link-2.cur'), pointer;
    background-color: rgba(0, 0, 0, 0.171);
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 53px;
    transition: all 0.3s;
    margin-top: -4px;
  }
  [type="submit"]:hover { 
    border:1px solid #4ebe61;
    width: 68%;
    margin-left: 43px;
    background-color: rgba(0, 0, 0, 0.459);
  }
  textarea {
    height: 120px;
    line-height: 150%;
    resize: none;
  }
  .feedback-input:focus { 
    border-bottom:1px solid #646464;
    background-color: transparent;
  }
  .feedback-input {
    color:white;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    border-bottom: 1px solid #3d3d3d;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  .carousel .card{
    line-height: 250px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: rgb(29, 29, 29);
    transition: all 0.2s ease-out;
    cursor: grab;
  }
  .carousel .card-1:active{
    background: #f0db4f;
  }
  .carousel .card-2:active{
    background: #e44c23;
  }
  .carousel .card-3:active{
    background: #264de4;
  }
  .carousel .card-4:active{
    background: #000000;
  }
  .carousel .card-5:active{
    background: #2c2f33;
  }
  .carousel .card-6:active{
    background: linear-gradient(to right, #e76f00, #5382a1);
  }
  .the-about-book{
    position: absolute;
    height: 20em;
    right: 0;
    padding: 0 10px;
    filter: brightness(0.4);
  }
  .about-text{
    padding: 0 40px;
    padding-top: 130px;
    line-height: 17px;
    font-size: 12px;
    position: absolute;
    color: #fff;
    font-family: 'Roboto', sans-serif !important;
    left: 0;
  }
  .quote{
    font-family: 'Roboto', sans-serif !important;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    padding: 80px 40px;
    color: #e9e9e9;
    font-weight: 400;
  }
  span.a, span.w, span.i, span.s, span.h{
    font-size: 100px;
  }
  .typewrite_text{
    top: 500px;
    padding: 0 10px;
  }
  .cursor{
    display: none;
  }
  nav{
    background-color: rgba(0, 0, 0, .6);
  }
  nav.sticky .links a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s;
  }
  
  nav .icon-burger .line{
    background-color: #fff;
  }
  nav.sticky .icon-burger .line{
    background-color: #000;
  }
  nav .links a, nav.sticky .links a{
    color: #fff;
  }
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 1111;
		left: 0;
		right: 0;
		top: 120px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(3px);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .2s;
	}
	nav .links a {
		font-size: 20px;
    font-weight: 200;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
  nav.sticky .links{
    top: 60px
  }
	nav .icon-burger {
		display: block;
	}
  .icon-burger:active .line:nth-child(1){
    transform: rotate(-9deg);
  }
  .icon-burger:active .line:nth-child(3){
    transform: rotate(9deg);
  }
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
    transform: translateX(10px);
	}
}
